*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: block;
}

h1{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-section{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftSide{
    width: 50%;
}

.leftSide p{
    font-size: 14px;
    line-height: 25px;
    color: #787878;
    padding-right: 50px;
}

.leftSide img{
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
}


.rightSide{
    width: 50%;
}

.rightSide p{
    font-size: 14px;
    line-height: 25px;
    color: #787878;
    margin-bottom: 30px;
    padding-right: 50px;
}

.rightSide h2{
    font-size: 14px;
    line-height: 25px;
    font-weight: 800;
    margin-bottom: 0;
    color: #787878;
}

form{
    width: 100%;
    padding-bottom: 50px;
}

.formControl{
    width: 100%;
     margin-bottom: 20px;
}

label{
    width: 190px;
}

input{
    width: 200px;
}
input[type='radio']{
    width: auto;
    float: initial;
}

input[type='checkbox']{
    width: auto;
    float: initial;
}

@media (max-width: 800px) {
    .content-section {
      flex-direction: column;
    }

    .leftSide, .rightSide{
        width: 100%;
    }

    .leftSide img{
        padding: 0;
        margin: 30px 0;
    }

    .leftSide p, .rightSide p{
        text-align: justify;
        padding-right: 0;
    }
    label, input{
        width: 100%;
    }
}